In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# Load data
df = pd.read_csv('data/raw/Data_Science_Jobs_in_India.csv')

print("="*60)
print("INDIA DATA SCIENCE JOBS - INITIAL EXPLORATION")
print("="*60)

# Basic info
print(f"\nDataset Shape: {df.shape}")
print(f"Total Jobs: {len(df)}")

print("\n" + "="*60)
print("COLUMN INFORMATION")
print("="*60)
print(df.columns.tolist())

print("\n" + "="*60)
print("DATA TYPES")
print("="*60)
print(df.dtypes)

print("\n" + "="*60)
print("MISSING VALUES")
print("="*60)
print(df.isnull().sum())
print(f"\nMissing percentage:")
print((df.isnull().sum() / len(df) * 100).round(2))

print("\n" + "="*60)
print("FIRST 10 ROWS")
print("="*60)
print(df.head(10))

print("\n" + "="*60)
print("STATISTICAL SUMMARY")
print("="*60)
print(df.describe())

print("\n" + "="*60)
print("UNIQUE VALUES COUNT")
print("="*60)
print(f"Unique Companies: {df['company_name'].nunique()}")
print(f"Unique Job Titles: {df['job_title'].nunique()}")

print("\n" + "="*60)
print("TOP 10 COMPANIES")
print("="*60)
print(df['company_name'].value_counts().head(10))

print("\n" + "="*60)
print("TOP 10 JOB TITLES")
print("="*60)
print(df['job_title'].value_counts().head(10))

print("\n" + "="*60)
print("EXPERIENCE DISTRIBUTION")
print("="*60)
print(df['min_experience'].value_counts().sort_index().head(15))

print("\n" + "="*60)
print("SAMPLE SALARY DATA")
print("="*60)
print("\nAvg Salary samples:")
print(df['avg_salary'].head(20))
print("\nMin Salary samples:")
print(df['min_salary'].head(20))
print("\nMax Salary samples:")
print(df['max_salary'].head(20))

print("\n" + "="*60)
print("DATA QUALITY CHECK")
print("="*60)
print(f"Rows with all salary data: {df[['avg_salary', 'min_salary', 'max_salary']].notna().all(axis=1).sum()}")
print(f"Rows with no salary data: {df[['avg_salary', 'min_salary', 'max_salary']].isna().all(axis=1).sum()}")

print("\n" + "="*60)
print("READY FOR CLEANING!")
print("="*60)

============================================================
INDIA DATA SCIENCE JOBS - INITIAL EXPLORATION
============================================================

Dataset Shape: (1602, 8)
Total Jobs: 1602

============================================================
COLUMN INFORMATION
============================================================
['Unnamed: 0', 'company_name', 'job_title', 'min_experience', 'avg_salary', 'min_salary', 'max_salary', 'num_of_salaries']

============================================================
DATA TYPES
============================================================
Unnamed: 0          int64
company_name       object
job_title          object
min_experience      int64
avg_salary         object
min_salary         object
max_salary         object
num_of_salaries     int64
dtype: object

============================================================
MISSING VALUES
============================================================
Unnamed: 0         0
company_name       0
job_title          0
min_experience     0
avg_salary         0
min_salary         0
max_salary         0
num_of_salaries    0
dtype: int64

Missing percentage:
Unnamed: 0         0.0
company_name       0.0
job_title          0.0
min_experience     0.0
avg_salary         0.0
min_salary         0.0
max_salary         0.0
num_of_salaries    0.0
dtype: float64

============================================================
FIRST 10 ROWS
============================================================
   Unnamed: 0       company_name       job_title  min_experience avg_salary  \
0           0                TCS  Data Scientist               2       7.8L
1           1          Accenture  Data Scientist               2      12.8L
2           2                IBM  Data Scientist               2      13.4L
3           3          Cognizant  Data Scientist               2       9.8L
4           4          Capgemini  Data Scientist               2       8.6L
5           5            Infosys  Data Scientist               2       9.3L
6           6              Wipro  Data Scientist               2       9.7L
7           7      Tech Mahindra  Data Scientist               2       7.6L
8           8  Fractal Analytics  Data Scientist               2      15.9L
9           9           Deloitte  Data Scientist               2      14.2L

  min_salary max_salary  num_of_salaries
0       4.5L      16.0L              841
1       5.8L      23.0L              501
2       5.3L      25.0L              394
3       5.0L      18.0L              318
4       4.8L      14.6L              300
5       4.5L      24.0L              228
6       4.5L      18.2L              225
7       4.1L      15.4L              218
8      10.0L      23.0L              166
9       7.0L      25.0L              163

============================================================
STATISTICAL SUMMARY
============================================================
        Unnamed: 0  min_experience  num_of_salaries
count  1602.000000     1602.000000      1602.000000
mean    800.500000        2.799001        58.055556
std     462.601881        2.353686       169.042138
min       0.000000        0.000000         3.000000
25%     400.250000        1.000000         9.250000
50%     800.500000        2.000000        22.000000
75%    1200.750000        4.000000        47.000000
max    1601.000000       21.000000      4200.000000

============================================================
UNIQUE VALUES COUNT
============================================================
Unique Companies: 642
Unique Job Titles: 10

============================================================
TOP 10 COMPANIES
============================================================
company_name
IBM                 10
Accenture           10
Mindtree            10
DXC Technology      10
JP Morgan Chase     10
UST                 10
HCL Technologies    10
Cognizant           10
Capgemini           10
Infosys             10
Name: count, dtype: int64

============================================================
TOP 10 JOB TITLES
============================================================
job_title
Data Scientist               188
Business Analyst             188
Data Engineer                188
Data Analyst                 187
Senior Business Analyst      187
Senior Data Analyst          187
Senior Data Scientist        185
Senior Data Engineer         183
Machine Learning Engineer     59
Data Architect                50
Name: count, dtype: int64

============================================================
EXPERIENCE DISTRIBUTION
============================================================
min_experience
0     170
1     358
2     356
3     233
4     191
5     125
6      55
7      48
8      27
9      10
10     10
11      3
12      4
13      5
14      4
Name: count, dtype: int64

============================================================
SAMPLE SALARY DATA
============================================================

Avg Salary samples:
0      7.8L
1     12.8L
2     13.4L
3      9.8L
4      8.6L
5      9.3L
6      9.7L
7      7.6L
8     15.9L
9     14.2L
10    14.6L
11     9.8L
12    28.1L
13    14.8L
14     7.4L
15    20.6L
16    11.6L
17    14.8L
18    16.6L
19    12.4L
Name: avg_salary, dtype: object

Min Salary samples:
0      4.5L
1      5.8L
2      5.3L
3      5.0L
4      4.8L
5      4.5L
6      4.5L
7      4.1L
8     10.0L
9      7.0L
10     6.0L
11     4.5L
12     9.5L
13     8.3L
14     5.0L
15    15.0L
16     6.5L
17     9.0L
18    11.0L
19     6.7L
Name: min_salary, dtype: object

Max Salary samples:
0     16.0L
1     23.0L
2     25.0L
3     18.0L
4     14.6L
5     24.0L
6     18.2L
7     15.4L
8     23.0L
9     25.0L
10    26.9L
11    20.3L
12    50.0L
13    21.5L
14    12.0L
15    26.2L
16    20.9L
17    20.0L
18    22.5L
19    20.0L
Name: max_salary, dtype: object

============================================================
DATA QUALITY CHECK
============================================================
Rows with all salary data: 1602
Rows with no salary data: 0

============================================================
READY FOR CLEANING!
============================================================